* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

footer {
  align-items: center;
  background-color: #545454;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 5.3%;
}

.container-logo img {
  width: 15%;
}

.container-icones {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.container-corporation {
  font-size: small;
}

@media screen and ( max-width : 800px ) {

  footer {
    font-size: 70%;
  }

  .container-corporation {
    font-size: 80%;
  }
}
