.footer {
  align-items: center;
  background-color: #545454;
  color: white;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  justify-self: flex-end;
}

.footer p {
  padding: 0 1em;
}

.container-logo img {
  width: 15%;
}

.container-icones {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.container-icones > * {
  cursor: pointer;
}

.container-corporation {
  font-size: smaller;
  width: 10%;
}

@media screen and ( max-width : 800px ) {

  footer {
    font-size: 70%;
  }

  .container-corporation {
    font-size: 80%;
  }

  .container-logo img {
    width: 30%;
  }
}

@media screen and ( max-width : 400px ) {

  .container-logo img {
    width: 50%;
  }
}
