* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  all: unset;
}

.header-component {
  background-color: #545454;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
}

.header-component p:hover {
  color: rgb(20, 19, 19);
}

.container-links img {
  display: none;
}

.container-links {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: space-between;
  width: 60%;
}

.container-user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.container-user img {
  border: #545454;
  border-radius: 4px;
  height: 2em;
  object-fit: cover;
  width: 3em;
}
