a {
  all: unset;
}

.header-component {
  background-color: #545454;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
}

.container-user p {
  padding-left: 0.5em;
}

.header-component p:hover {
  color: rgb(20, 19, 19);
}

.image {
  width: 3%;
}

.container-links {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: space-between;
  width: 20%;
}

.container-links > * {
  cursor: pointer;
}

.container-user {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.container-user img {
  border: #545454;
  border-radius: 4px;
  height: 2em;
  object-fit: cover;
  object-position: 50% 20%;
  width: 3em;
}

.loader-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.loader-component-header > .loader {
  border: 3.2px solid #f3f1f1;
  border-radius: 55%;
  border-top: 3.2px solid #34e4ea;
  height: 20px;
  width: 20px;
}

@media screen and ( max-width : 1200px ) {

  .header-component {
    font-size: small;
  }

  .image {
    width: 4%;
  }
}

@media screen and ( max-width : 1000px ) {

  .header-component {
    font-size: small;
  }

  .image {
    width: 5%;
  }
}

@media screen and ( max-width : 800px ) {

  .image {
    width: 6%;
  }

  .header-component {
    font-size: smaller;
  }

  .container-links, .container-user {
    width: 30%;
  }
}

@media screen and ( max-width : 700px ) {

  .image {
    width: 7%;
  }

  .container-links, .container-user {
    width: 30%;
  }
}

@media screen and ( max-width : 550px ) {

  .image {
    display: none;
  }

  .container-links {
    width: 50%;
  }
}
