* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  all: unset;
}

.header-component {
  background-color: #545454;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
}

.header-component p:hover {
  color: rgb(20, 19, 19);
}

.image {
  width: 3%;
}

.container-links {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: space-between;
  width: 20%;
}

.container-user {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.container-user img {
  border: #545454;
  border-radius: 4px;
  height: 2em;
  object-fit: cover;
  width: 3em;
}

@media screen and ( max-width : 1000px ) {

  .image {
    /* width: 5%; */
  }

  .header-component {
    font-size: small;
  }
}

@media screen and ( max-width : 800px ) {

  .image {
    width: 4%;
  }

  .header-component {
    font-size: smaller;
  }

  .container-links, .container-user {
    width: 30%;
  }
}

@media screen and ( max-width : 550px ) {

  .image {
    display: none;
  }

  .container-links {
    width: 50%;
  }
}
