* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.page-login {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.page-login-content {
  flex: 1 0 auto;
}

.img {
  width: 3%;
}

.header-login {
  align-items: center;
  background-color: #545454;
  color: antiquewhite;
  display: flex;
  font-size: medium;
  font-weight: 700;
  justify-content: center;
}

.form-login {
  margin-top: 3%;
}

.form-login h1 {
  font-size: large;
  text-align: center;
}

.div-inputs {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 3% 0 5%;
}

.div-inputs input {
  border: 2px solid #545454;
  border-radius: 5px;
  height: 2em;
  margin-top: 3%;
  width: 10em;
}

.div-inputs button:disabled {
  border-radius: 4px;
  font-weight: 700;
  height: 2em;
  margin-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
}

.div-inputs button:enabled {
  background-color: #34e4ea;
  border: 2px solid #545454;
  border-radius: 4px;
  color: #545454;
  font-weight: 700;
  height: 2em;
  margin-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
}

.div-imgs {
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  width: 80%;
}

.div-imgs div {
  display: flex;
  width: 15%;
}

.div-imgs div img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.img-up {
  padding-top: 5%;
}

.img-down {
  padding-bottom: 5%;
}

@media screen and ( max-width : 600px ) {

  header {
    font-size: small;
  }
}

