.section-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div-container {
  align-items: center;
  background-color: rgb(223, 216, 208);
  border: 2px solid #545454;
  border-radius: 12px;
  display: flex;
  flex: 1 0 auto;
  height: 22rem;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}

.container-img-and-name {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-img-and-name img {
  margin-bottom: 1rem;
}

.container-music {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.container-music img {
  height: 7rem;
  width: 7rem;
}

.container-name-music {
  display: flex;
}

.container-name-music p {
  padding-right: 1rem;
}
