.container-page-profile {
  background-image: url('/home/leonidas/projetosTrybe/projeto12-trybeTunes/sd-019-c-project-trybetunes/src/images/undraw_mobile_user_re_xta4.svg');
  background-position-x: right;
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.page-profile {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page-profile-user {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.page-profile-user img {
  border-radius: 4px;
  margin-bottom: 5%;
  width: 60%;
}

.page-profile-user h1 {
  font-weight: 700;
}

.page-profile-user form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.page-profile-user form input {
  border: 2px solid #545454;
  border-radius: 5px;
  height: 2em;
  margin-top: 3%;
  padding: 0 0.5em;
  width: 10em;
}

.page-profile-user form label {
  margin-top: 10%;
}

.page-profile-user form label input {
  display: block;
}

.page-profile-user form button:disabled {
  border-radius: 4px;
  font-weight: 700;
  height: 2em;
  margin-top: 10%;
  padding-left: 8px;
  padding-right: 8px;
}

.page-profile-user form button:enabled {
  background-color: #34e4ea;
  border: 2px solid #545454;
  border-radius: 4px;
  color: #545454;
  font-weight: 700;
  height: 2em;
  margin-top: 10%;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
}

.loader-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

@media screen and ( max-width : 1000px ) {

  .container-page-profile {
    background-image: none;
  }
}
